@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
}
body{
    min-height: 100vh;

}
.container{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.sidebar{
    width: 80px;
    height: 100vh;
    box-shadow: rgba(112,112,112,0.4) 0px 0px 10px;
    transition: 0.5s ;
    background-color: rgba(149, 255, 255, 0.853);
    overflow: hidden;
    
}
.header{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    
}
.header i{
    color: #96a3a9;
}
ul{
    list-style-type: none; 
}
.ul_container{
    width: 80px;
    height: 100vh;
    padding-top: 100px;
    padding-left: 25px;
    
}
ul li{
    width: 200px;
    height: fit-content;
    display: inline-flex;
    margin-bottom: 20px;
    min-height: 40px;
    padding-left: 5px;
}
ul li i{
    margin-right:40px;
    transition:0.4s;
    font-size:25px;
    color: #6e6e6e;
    margin-right:30px ;
    size: 10vw;
}
.ul_container li:hover .span_manager,.ul_container .li_render:hover span{
    color:#f20c70;
    font-weight: bold;
    transition:0.3s;
 }

 


 ul li{
    align-items: center;
 }
 ul li i:hover{
    color: #f20c70;
    transform: scale(1.3);
}

#active_side:hover{
    color:#f20c70;
    transform: scale(1.5);
    transition:0.4s;
}
.manage_list{
   display: none;
   margin-top: 10px;
   margin-left: 20px;
}
.manage_list a{
    display: block;
    color: rgb(124, 124, 124);
 }
 .manage_list a :hover{
     color: #161616;
 }
.sidebar.active_menu{
    width: 310px;
 }
.manager_container{
    display: block;
}
 